{% load static %}

<div class="container-footer">

    <div class="row-footer">

        <div class="column-footer">
           
            <img src="{% static 'images/logo.png' %}" alt="Company Logo" />

            <div class="footer-company-info">
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned"><path d="M18 8c0 4.5-6 9-6 9s-6-4.5-6-9a6 6 0 0 1 12 0"/><circle cx="12" cy="8" r="2"/><path d="M8.835 14H5a1 1 0 0 0-.9.7l-2 6c-.1.1-.1.2-.1.3 0 .6.4 1 1 1h18c.6 0 1-.4 1-1 0-.1 0-.2-.1-.3l-2-6a1 1 0 0 0-.9-.7h-3.835"/></svg>
                    123 Street, City, Country
                </p>
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
                    info@example.com
                </p>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg> 
                    +1234567890
                </p>
            </div>

            <div class="social-media">
                <ul>
                    <li><a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
                    </a></li>
                    <li><a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
                    </a></li>
                    <li><a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                    </a></li>
                </ul>
            </div>

        </div>

        <div class="column-footer">
            <div class="customer-service">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="{% url 'terms_of_service' %}">Terms & Conditions</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'cancellation_refund_policy' %}">Refund Policy</a></li>
                    <li><a href="{% url 'customer_support' %}">Customer Service</a></li>
                    <li><a href="#">About Company</a></li>
                </ul>
            </div>
        </div>

        <div class="column-footer">
            <!-- Third Column: Category List -->
            <div class="customer-service">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Bakhoor</a></li>
                    <li><a href="#">Oud</a></li>
                    <li><a href="#">Oriental Fragnence</a></li>
                    <li><a href="#">Occasional Gifts</a></li>
                    <li><a href="#">Exclusive Collections</a></li>
                </ul>
            </div>
        </div>

        <div class="column-footer">     
            <div class="container-feedback-form">
                <h2>Give Us Feedback</h2>
                <form class="feedback-form">
                    <input type="email" id="email" name="email" placeholder="Your E-mail" required><br><br>

                    <textarea id="message" name="message" rows="10" placeholder="Feedback Message" required></textarea><br><br>
            
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <span class="line-hr"></span>

    <div class="row-footer">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
        <div class="footer-menu-items">
            <ul>
                <li><a href="#"> <p>Track Order</p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-truck"><path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"/><path d="M15 18H9"/><path d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"/><circle cx="17" cy="18" r="2"/><circle cx="7" cy="18" r="2"/></svg>
                    
                </a></li>
                <span class="divider"></span>
                <li><a href="#"> <p>Contact Us</p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
                    
                </a></li>
                <span class="divider"></span>
                <li><a href="#"> <p>FAQ</p> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-help-circle"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>
                    
                </a></li>
                <!-- Add more menu items as needed -->
            </ul>
        </div>
        
    </div>


</div>



